div{
    margin: 0;
    padding: 0;
}

button{
    width: 50px;
    height: 50px;
    margin: 2px;
}

.wide{
    width: 108px;
}

.tall{
    height: 104px;
}

.wrapper{
    display: flex;
}

.calculator{
    display: flex;
}

.table, .column2{
    height: 320px;
    overflow: scroll;
}

.column1{
    flex: 0 0 230px;
}

.column2{
    width : 200px;
}

.buttonBlock{
    display: flex;
}

.numberBlock{
    flex: 0 0 170px;
    margin-right: 4px;
}

.sideButton{    
    width: 60px;
}

.display{
    margin-left: 2px;
    margin-bottom: 2px;
    width: 223px;
    height: 50px;
}

.display p, .column2 p {
    margin-right: 4px;
    text-align: right;
}

.display p, td, button, .column2 p {
    font-family: monospace;
}

.table, .column2, .display{
    border: 1px solid gray;
}

td{
    border-bottom: 1px solid gray;
}

thead{
    background-color: lightgray;
}

thead td{
    border-bottom: none;
}

/* temp */ 
.table{ display: none;}